.category_products{
    background-color: #1C1F25;
    color: white;
}
.tab_title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    opacity: 0.5;
    font-weight: 800;
}
.tab_title:hover{
    
    opacity: 1;
   
}
.tab_title:active{
    opacity: 1;
}
.tab_title:focus{
    opacity: 1;
}
